Repository Reglament989/vite-trpc-wagmi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Backend tests, Build frontend, Build backend, Deploy backend, Deploy frontend

Backend tests:
  script: npm run --prefix backend test:coverage
  stage: test
  artifacts:
    when: always
    reports:
      junit: backend/reports/rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

Build frontend:
  stage: build
  script:
  - npm run --prefix app build
  artifacts:
    paths:
    - app/dist

Build backend:
  stage: build
  dependencies:
  - Backend tests
  script:
  - npm run --prefix backend build
  artifacts:
    paths:
    - backend/dist

Deploy backend:
  stage: deploy
  dependencies:
  - Backend tests
  - Build backend
  environment:
    name: $CI_COMMIT_BRANCH
  script:
  - echo "Deploy happens here, backend/dist already exists"

Deploy frontend:
  stage: deploy
  dependencies:
  - Build frontend
  environment:
    name: $CI_COMMIT_BRANCH
  script:
  - echo "Deploy happens here, app/dist already exists"

fix: github ci node version
  .github/workflows/main.yml
Due: none

fix: remove paths for backend
  app/tsconfig.json
  backend/index.ts
  backend/package.json
  backend/tsconfig.json
Due: Backend tests, Build frontend, Build backend, Deploy backend, Deploy frontend

fix: circleci and remove paths from back
  .circleci/config.yml
  app/tsconfig.json
  backend/tsconfig.json
Due: Backend tests, Build frontend, Build backend, Deploy backend, Deploy frontend

fix: gitlab ci
  .gitlab-ci.yml
Due: none

fix: bump githubci versions
  .github/workflows/main.yml
  README.md
Due: none

fix: tsbuildinfo, idk how to manage different paths in different pkgs
  app/tsconfig.json
Due: Build frontend, Deploy frontend

fix: .githooks [ci skip]
  package.json
Due: none

Path conditions:
  Backend tests: any of: backend/**/*
  Build frontend: any of: app/**/*
  Build backend: any of: backend/**/*
  Deploy backend: any of: backend/**/*
  Deploy frontend: any of: app/**/*
